<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list>
    <ng-container *ngFor="let page of pageData">
      <ion-item class="level1">
        <ion-icon name="folder-outline" slot="start"></ion-icon>
        <ion-label>{{page.Plantname}}</ion-label>
      </ion-item>
      <ng-container *ngFor="let page1 of page.child">
        <ng-container *ngIf="page1.type == 'page'; else area_content">
          <ion-item button class="level2" (click)="openControls(page1, $event, edit1)">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>{{page1.pageNames}}</ion-label>
            <ion-icon name="create-outline" #edit1 (click)="editPagepage(page1, 'P', page.PlantId)"></ion-icon>
          </ion-item>
        </ng-container>
        <ng-template #area_content>
          <ion-item class="level2">
            <ion-icon name="folder-outline" slot="start"></ion-icon>
            <ion-label>{{page1.AreaName}}</ion-label>
          </ion-item>
          <ng-container *ngFor="let page2 of page1.child">
            <ion-item button class="level3" (click)="openControls(page2, $event, edit2)">
              <ion-icon name="newspaper-outline" slot="start"></ion-icon>
              <ion-label>{{page2.pageNames}}</ion-label>
              <ion-icon name="create-outline" #edit2 (click)="editPagepage(page2, 'A', page1.AreaId)"></ion-icon>
            </ion-item>
          </ng-container>
        </ng-template>
      </ng-container>
    </ng-container>
  </ion-list> -->
  <div class="wrapper-treeview">
    
    <dx-tree-view
    id="simple-treeview"
    [items]="treeData" dataStructure="plain" parentIdExpr="parentUuid" keyExpr="uuid" displayExpr="text" (onItemClick)="selectPageItem($event)" [searchEnabled]="true" searchMode="contains"
    > 
  </dx-tree-view>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary" (click)="openAddPage()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>