
.changepassword {
    &ion-header {
        display: flex;
        align-items: center;
        ion-button {
            --background: #40a5aa;
        }
        .save-pd {
            margin-right: 23px;
        }
        .header-items {
            display: flex;
        }
        ion-back-button {
            display: block!important;
        }
    }
}
.otp-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.change-bottom {
    margin-bottom: 20px;
}
.passord-info {
    font-size: 13px;
}
.resend-wrapper {
    display: flex;
    align-items: center;
    ion-button {
        margin-right: 12px;
    }
}
