  <ion-header translucent class="changepassword">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-items">
        <ng-container>
          <ion-title>Change Password</ion-title>
          <!-- <h4 class="btn_txt" (click)="update()">UPDATE</h4> -->
        </ng-container>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">
    <form #f="ngForm" [mustMatch]="['passwordInput', 'confirmPasswordInput']">
      <div class="form-wrapper">
        <div class="form-field change-bottom">
          <ion-input placeholder="Current Password" type="password" name="currentPasswordInput" #currentPasswordInput="ngModel" required [(ngModel)]="currentPassword">
          </ion-input>
          <div class="my-inp-error" *ngIf="currentPasswordInput.touched && currentPasswordInput.invalid"><ion-icon name="alert-circle-outline"></ion-icon> Current Password is required</div>
        </div>
        <ng-container *ngIf="mode != 'D'">
          <div class="otp-btn-wrapper">
            <ion-button (click)="sendOtp()" [disabled]="currentPasswordInput.invalid || sendEnable">Send OTP
            </ion-button>
            <div class="resend-wrapper">
              <ion-button class="outline-primary-btn" [disabled]="currentPasswordInput.invalid || resendEnable" (click)="reSendOtp()">Resend OTP
              </ion-button> <span>in <b>{{timer}}s</b> </span>
            </div>
          </div>  
        </ng-container>
        <ng-container *ngIf="mode == 'D'">
          <div class="otp-btn-wrapper">
            <ion-button  (click)="submit()" [disabled]="currentPasswordInput.invalid || submitFlag">Submit
            </ion-button>
          </div>  
        </ng-container>
        <ng-container *ngIf="mode != 'D'">
          <div class="form-field change-bottom">
            <ion-input placeholder="Enter OTP" type="number" [disabled]="verifyOtpFlag" [(ngModel)]="otpModel" required name="otpInput" #otpInput="ngModel">
            </ion-input>
            <div class="my-inp-error" *ngIf="otpInput.touched && otpInput.invalid"><ion-icon name="alert-circle-outline"></ion-icon> OTP is required</div>
          </div>
          <div class="otp-btn-wrapper">
            <ion-button (click)="verifyOtp()" [disabled]="verifyOtpFlag || otpInput.invalid">Verify OTP
            </ion-button>
          </div>          
        </ng-container>
        <div class="form-field">
          <ion-input placeholder="New Password" type="password" [disabled]="enterPasswordFlag" [(ngModel)]="passwordModel" required name="passwordInput" #passwordInput="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&^_-]{8,16}$">
          </ion-input>
          <div *ngIf="passwordInput.invalid && passwordInput.touched">
            <div class="my-inp-error" *ngIf="passwordInput.errors.required"><ion-icon name="alert-circle-outline"></ion-icon> Password is required</div>
            <div class="my-inp-error" *ngIf="passwordInput.errors.pattern"><ion-icon name="alert-circle-outline"></ion-icon> Password does not meet minimum requirments</div>
          </div>
        </div>
        <div class="form-field">
          <ion-input placeholder="Confirm New Password" type="password" [disabled]="enterPasswordFlag" [(ngModel)]="confirmPasswordModel" required name="confirmPasswordInput" #confirmPasswordInput="ngModel">
          </ion-input>
          <!-- <div class="my-inp-error" *ngIf="confirmPasswordInput.touched && confirmPasswordInput.invalid"><ion-icon name="alert-circle-outline"></ion-icon> Confirm Password is required</div>
          <div class="my-inp-error" *ngIf="confirmPasswordInput.mustMatch"><ion-icon name="alert-circle-outline"></ion-icon> Passwords must match</div> -->
          <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
            <div class="my-inp-error" *ngIf="confirmPasswordInput.errors.required"><ion-icon name="alert-circle-outline"></ion-icon> Confirm Password is required</div>
            <div class="my-inp-error" *ngIf="confirmPasswordInput.errors.mustMatch"><ion-icon name="alert-circle-outline"></ion-icon> Passwords must match</div>
          </div>
        </div>
        <ion-button expand="block" [disabled]="enterPasswordFlag || (passwordInput.invalid || confirmPasswordInput.invalid)" (click)="changePassword()">Confirm</ion-button>
      </div>
    </form>
    <div class="passord-info">
      <p>Password must:</p>
      <ul>
        <li>At least One Upper Case Character</li>
        <li>At least one Lower Case character</li>
        <li>At least one digit</li>
        <li>At least one symbol/special character @$!%*#?&^_-</li>
        <li>Minimum 8 and Maximum 16 characters/digits</li>
      </ul>  
    </div>
  </ion-content>
