#main {
    height: 100%;
}

ion-menu-button {
    --color: #ffffff;
}

.session {
    padding-right : 10px;
    .text {
        font-size: 10px;
    }
    h5 {
        margin: 5px 0px;
        font-size: 10px;
    }
}