#mainpage {
// padding: 14px;
// overflow: auto;
.item {
    padding-bottom: 30px;
    margin-top: 20px;
    .btn {
        margin-top: 12px;
        text-align: center;
    }
    border-bottom: 1px solid #80808063;
}
}
